
/* Remove the navbar's default margin-bottom and rounded borders */ 
.index-html {
    background-image: url(https://images.pexels.com/photos/932261/pexels-photo-932261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
}

.login-html {
    background: url(https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center fixed; 
    background-size: cover;
}

/*.tinymce {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}*/

#tagcloud a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px;
    margin: 0 7px 7px 0;
    border-radius: 5px;
}

sup {
    padding-left: 2px;
}


